.imgSocialMedia{
    display: flex;
    justify-content: center;
}
@media(min-width: 1000px) {
.containerInvoice{
    width: 30rem;
max-width: 30rem;		
border-radius: 10px;
margin: auto;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;				
}			
}
@media(max-width: 720px) {			
.containerInvoice{
    width: 90% ;
    max-width: 90% ;		
    border-radius: 10px;
    margin: auto;			
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;					
}

}	